<h3>
  There are <span ng-bind='careers.length'></span> records
</h3>
<div class="row">

  <div ng-repeat='career in careers' class="col-md-4 panel panel-default">
    <button type="button" class="close" ng-click='delete(career)'><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h1 ng-bind='career.name' ui-sref='career({ id: career.id })'></h1>
    <p ng-bind-template='Entry Rate: {{career.entry_rate.currency.symbol}}{{career.entry_rate.fractional /100}}'></p>
    <rating ng-model='career.rating' max="10" readonly='true' on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
  </div>

</div>


<form ng-submit='saveCareer(career)'>
  <div class="form-group">
    <input ng-model='career.name' type='text' class="form-control" placeholder='name'>
  </div>
  <div class="form-group">
    <textarea ng-model='career.desc' class="form-control" placeholder='desc'></textarea>
  </div>
  <div class="form-group">
    <rating ng-model='career.rating' class="" max="10" on-hover="hoveringOver(value)" on-leave="overStar = null">
  </div>
  <div class="form-group">
    <input ng-model='career.entry_rate' class="form-control" type="number">
  </div>
  <div class="form-group">
    <button class="btn btn-block btn-default">save</button>
  </div>
</form>
